<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%NODE_PATH%\node.exe" 
                  arguments="server.js" 
                  startupTimeLimit="20" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\node.log">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="Production" />
      </environmentVariables>
    </httpPlatform>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="logs" />
        </hiddenSegments>
      	<requestLimits maxUrl="10999" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>