<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode 
      node_env="production" 
      nodeProcessCommandLine="&quot;%NODE_PATH%\node.exe&quot;"
      loggingEnabled="true" 
      logDirectory="iisnode" 
      debuggingEnabled="true" 
      devErrorsEnabled="true" 
      watchedFiles="web.config;*.js;.env*"
    />
    <rewrite>
      <rules>
        <rule name="NextStatic" stopProcessing="true">
          <match url="^_next/static/(.*)" />
          <action type="Rewrite" url=".next/static/{R:1}" />
				</rule>
        <rule name="app" patternSyntax="Wildcard">
          <match url="*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules"/>
          <add segment="log"/>
          <add segment="iisnode"/>
        </hiddenSegments>
      	<requestLimits maxUrl="10999" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>